*{
	padding: 0;
	margin: 0;
}
body{
	position: relative;
	overflow-x: hidden;
}
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.all {
  -moz-user-select: all;
  -webkit-user-select: all;
  -ms-user-select: all;
  user-select: all;
}
.p1{
	width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	text-transform: capitalize;
	font-size: 1.2rem;
	user-select: contain;
}
.container{
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

.menu ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	list-style-type: none;
	justify-content: center;
	margin-top: 20px;
}
.menu ul a{
	display: block;
	text-decoration: none;
	background: #808080;
	color: #fff;
	margin: 0 10px;
	padding: 8px 15px;
	font-weight: bold;
}
.block-hs{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin: 30px 0;
	font-weight: bold;
}
.block-hs h1, .block-hs h2, .block-hs h3, .block-hs h4, .block-hs h5{
	margin-right: 15px;
}
form{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}
form input{
	display: block;
	margin: 10px 15px 10px 0;
	padding: 2px 5px;
	color: gray;
	-ms-align-items: center;
	align-items: center;
	height: 30px;
	border: 2px solid #808080;
	border-radius: 4px;
	cursor: pointer;
	box-sizing: border-box;
}
textarea{
	padding: 15px;
	resize: none;
	cursor: pointer;
}
.w-100{
	width: 100%;
}
label{
	cursor: pointer;
}

.d-flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.buttons input{
	background: #808080;
	color: #fff;
	padding: 10px 20px;
	display: block;
	font-weight: bold;
	height: 40px;
}
img{
	margin: 30px 0;
}
table{
	margin: 0 0 50px 0;
	box-shadow: 0 0 10px 1px #808080;
}
table caption{
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: bold;
}
table th, table td{
	padding: 5px 10px;
	border: 2px solid #808080;
	border-radius: 4px;
	
}
@media (max-width: 600px) {
	body::before{
		content: '';
		position: absolute;
		width: 100%;
		font-weight: bold;
		height: 100%;
		background: #fff;
		display: block;
	}
	body::after{
		content: "КУПИТЕ УСТРОЙСТВО ПОБОЛЬШЕ";
		position: absolute;
		font-size: 40px;
		color: red;
		text-align: center;
		line-height: 50px;
		font-weight: bold;
		top: 200px;
		
	}
}





